<strong>Matrícula realizada com sucesso</strong>
<p>{{name}}, seja bem-vindo(a) ao Gympoint.</p>
<p>Você escolheu o plano <strong>{{title}}</strong>,
com duração de <strong>{{duration}} meses</strong>.
Totalizando R$ {{price}}</p>
